.profileNav{
    display: flex;
    flex-direction: column;
    float: left;
    width: 30%;
    margin-right: 10rem;
}

.profile:after{
    content: "";
    display: table;
    clear: both;
}

.profileContent{

}